/* base styles */
* {
	margin: 0;
	padding: 0;
}

#container{
  background: #f6f3f3; 
}
html, body, form, fieldset, legend, h1, ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 12px;
	font-family: inherit;
	vertical-align: baseline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
  background: #f6f3f3; 
}
	
img {
	border: 0 none;
}
.container {
	margin       :30px auto 0;
	position     :relative;
	text-align   :left;
	width        :1000px;
	padding-left : 20px;
	padding-right: 20px;
 }

  #content {
    overflow: hidden;
  }
  #content {
    border : 2px solid #595959; 
    float  : left;
    margin : 0 2%;
    width  : 100%;
    background-color: #d8cfb1; 
  }
  #content h3, .title h2 {
    background: -moz-linear-gradient(#ffffff, #F6F6F6); /* FF 3.6+ */ 
    background: -ms-linear-gradient(#ffffff, #F6F6F6); /* IE10 */ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #F6F6F6)); /* Safari 4+, Chrome 2+ */ 
    background: -webkit-linear-gradient(#ffffff, #F6F6F6); /* Safari 5.1+, Chrome 10+ */ 
    background: -o-linear-gradient(#ffffff, #F6F6F6); /* Opera 11.10 */ 

    background: linear-gradient(#ffffff,#BF8E7E); /* the standard */
    border-bottom: 1px solid #595959; 
    color      : #000;#3C3C3C;
    font-size  : 12px;
    font-weight: bold;
    line-height: 15px;
    padding    : 11px 0 12px 20px;
    text-transform: uppercase;
    display    : block; 
    font-weight: bold; 
    font-size  : 1.25em;
    text-shadow: 1px 1px 0px #fff;
  }
  #content ul {
    list-style:none outside none;
    margin    :0;
    padding   :0;
  }
  #content #left ul li {
    float         :left;
    padding-bottom: 21px;
    width         : 20%;
  }
  #content #left ul li:hover {
    background-color: #fbfbfb;
  }

  #content #left ul li .img {
    text-align: center;
  }

  #content #left ul li .img img {
    height:128px;
    width :128px;
  }

  #content #left ul li .info {
    padding: 17px 20px 0 30px;
  }

  #content ul li .info .title {
    color      :#2f5d39;
    display    : inline-block;
    font-size  : 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
 }
 #content ul li .info .title:hover {
   color: #049733;
 }
 #content #left ul li .info p {
   color      : #502f5d;
   font-size  : 11px;
   line-height: 16px;
   padding-top: 3px;
 }
 #content #left ul li .info  .price  {
   background : none repeat scroll 0 0 #72AC9D;#F7F7F7;
   color      :  #383838;
   font-size  : 12px;
   font-weight: bold;
   line-height: 16px;
   margin     : 17px 0 10px;
   padding    : 6px 0 6px 8px;
 }

 #content #left ul li .info .price .st  {
   color       : #5e5e5e;
   font-size   : 11px;
   line-height : 16px;
   margin-right: 3px;
 }

 #content #left ul li .info .actions {
   overflow:hidden;
 }
 #content #left ul li .info .actions a {
   order      : 1px solid #9E2B05; 
   color      : #9E2B05;
   display    : block;
   float      :right;
   font-size  : 12px;
   font-weight: bold;
   line-height: 16px;
   padding    : 5px;
   text-decoration: none;
 }
 #content #left ul li  .actions a:first-child {
   color: #009832;
   float:left;
 }
 #shopping-cart {
  
   width: 950px;
  
   /*margin: 30px auto 0;*/
   margin    : 1050px 0px 0px 300px;
   background-color: #DCD4CE;
   border    : 1px solid #423021;
   box-shadow: 2px 2px 10px #666;
 }

.buttons {
  margin    : 15px 20px 10px 0; 
  text-align: right;
}
input:not([type=submit]), select {
  border : 1px solid #999;
  padding: 2px;
}
input[type=submit], input[type=button] {
  border       : 1px solid #423021;
  background-color: #896640;
  color        : #fff; 
  padding      : 6px 10px;
  border-radius: 6px;
  text-shadow  : 1px 1px 0px #000;
  font-size    : 1.2em; cursor: pointer;
  font-weight  : bold;
  background-image: -webkit-linear-gradient(top, #896640 0%, #705536 100%);
  background-image: -moz-linear-gradient(top, #896640 0%, #705536 100%);
  background-image: -o-linear-gradient(top, #896640 0%, #705536 100%);
  background-image: -ms-linear-gradient(top, #896640 0%, #705536 100%);
  background-image: linear-gradient(to bottom, #896640 0%, #705536 100%);
}
input[type=submit]:active, input[type=button]:active {
  background-color: #705536;
  background-image: -webkit-linear-gradient(bottom, #896640 0%, #705536 100%);
  background-image: -moz-linear-gradient(bottom, #896640 0%, #705536 100%);
  background-image: -o-linear-gradient(bottom, #896640 0%, #705536 100%);
  background-image: -ms-linear-gradient(bottom, #896640 0%, #705536 100%);
  background-image: linear-gradient(to top, #896640 0%, #705536 100%);
}

.placeholder {
  color: #999;
}
.txtinput{ 
  font-family  : Helvetica, Arial, sans-serif;
  border-style : solid;
  border-radius: 4px;
  border-width : 4px;
  border-color : #896640;
  font-size    : 14px;
  padding-left : 40px;
  width        : 13%;
  color        : #777;
  cursor       :pointer;
  line-height  : 0.3em;
}

.promo:hover{
  background:#006666;
  box-shadow: 0px 4px #663333;
  color     : black;
}
.active:active {
  background:#e5f2e4;
  color     :#0D0A08;
  font-size :26px;
  cursor    :pointer;
  outline   :none;
  box-shadow: inset 5px 5px 5px #660000;
}
.link{
  margin-left: 22px;
  font-size  : 18px;
  font-family: 'Conv_azoft-sans-bold-italic',Helvetica, Arial, sans-serif;
}
.hide {
	display: none;
}
.checkout{
  position:relative;
  top     :30px;
  left    : 20px;
 /* display :none;*/
}
.show-hide-button {
  position   : relative;
  display    :block;
  top        : 838px;
  right      : 600px;
	padding-top: 30px;
	text-align : center;
}

.show-hide-button button {
	background-color: brown;
	border          : 2px solid #423021;
  background-color: #896640;
  border-radius   : 6px;
  text-shadow     : 2px 2px 0px #000;
  font-size       : 1.1em; cursor: pointer;
  height          :27px;
  color           : #fff; 
  padding         : 5px;
  font-size       : 12px;
  cursor          : pointer;
  color           : white;
  display         : inline-block;
}

 #checkoutNameUl {
   display         : table;
   width           : 100%;
   height          : auto;
   box-sizing      : border-box;
   border          : 0;
   padding         : 0;
   overflow        : hidden;
   line-height     : 26px;
   list-style      : none outside none;
   margin-bottom   : 20px;
   white-space     : nowrap;
   table-layout    : fixed;
   margin-top      : 15px;
   background-color: #e5dad2;
}
/*for the li container*/
.checkoutContentsLi {
  display       : block;
  padding-top   : 10px;
  padding-bottom: 10px;
  width         : 100%;
  list-style    : none;
}

/* for the cart heading names for example items, price, qty, total */

.cartHead {
  display       : inline-block;
  margin-left   : 1em;
  border-bottom : 2px solid #D3D3D3;
  font-size     : 1.5em;
  font-family   : Helvetica, Arial, sans-serif;
  font-weight   : lighter;
  color         :#747474;
  height        : auto;
  padding-bottom: 5px;
}

.first {
  width: 415px;
}

.third {
  width: 100px;
}
.fourth {
  width: 140px;
}
/*for all the divs each items container*/
.cartInfo {
  display       : inline-block;
  width         : 20%;
  margin-left   : 20px;
  color         : #575757;
  text-transform: capitalize;
}


/* for the image */
.imageCart {
  width     : 100px;
  height    : 100px;
  margin-top: 10px;
  padding   : 1em;
  overflow  : hidden;
}

.imageDiv {
  position: relative;
  bottom  : 5px;
  right   : 12px;
}


/*for the item name */

.itemDiv {
  position: relative;
  bottom  : 80px;
  right   : 25px;
}

/*for the price div*/

.priceDiv {
  position: relative;
  bottom  : 80px;
  left    : 62px;
  width   : 35px;
}

.priceTotalDiv {
  position: relative;
  bottom  : 80px;
  left    : 130px;
  width   : 35px;
}

/*For the quantity input bar*/
.quantityDiv {
  position: relative;
  bottom  : 85px;
  left    : 60px;
  width   : 35px;
}

.quantityInput {
  width     : 25px;
  padding   :5px;
  border    : 1px solid #D3D3D3;
  outline   : none;
  text-align: center;
}
.removeDiv {
  position: relative;
  bottom  : 85px;
  left    : 180px;
  width   : 20px;
  height  : 15px;
}
.add-to-cart button{
  color           : #888888;
  border          : 1px solid #423021;
  background-color: #896640;
  color           : #fff; 
  padding         : 3px 10px;
  border-radius   : 6px;
  text-shadow     : 1px 1px 0px #000;
  font-size       : 1.1em; 
  cursor          : pointer;
  height          :25px;
 
}
/* Affects remove icon */
.removeItem {
 
  text-decoration : none;
  color           : #888888;
  border          : 1px solid #423021;
  background-color: #896640;
  color           : #fff; 
  padding         : 6px 10px;
  border-radius   : 6px;
  text-shadow     : 1px 1px 0px #000;
  font-size       : 1.2em; 
  cursor          : pointer;
  
   
}

/* decrement increment buttons*/
.button1, .button2 {
  width             : 25px;
  height            : 25px;
  border-radius     : 5px;
  text-align        : center;
  border            : 2px outset #D8D8D8;
  background-color  : #D3D3D3;
  box-shadow        : #8D8D8D;
  outline           : none;
  -webkit-appearance: push-button;
  font-size         : 15px;

}
.button1 {
  margin-right: 2px;
}
.button2 {
  margin-left: 2px;
}

.button1:active, .button2:active {
  position     : relative;
  top          : 1px;
  border-right : none;
  border-bottom: none;
  color        : white;

}
.checkout {
  margin: 30px auto 0;
  /*margin: 10em 0em 0em 28.5em;*/
  width           : 850px;
  height          : auto;
  background-color: #d8cfb1;
  font-family     : sans-serif;
  border          : 1px solid #8D8D8D;
  padding         : 10px 0px 10px 10px;
  border-radius   : 3px;
  overflow        : auto;

}
.checkout h2{
 /*padding: 0px 0px 10px 0px;*/
  padding-bottom: 10px;
  margin-top    : -12px;
  margin-left   : -20px;
  margin-right  : -15px;

}
